foot{
    --color-de-fundo--: #002C66;
    --cor-de-texto--: #DB6922;
    --princ--: #ffffff;
}
header { 
    background-color: var(--princ--);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
} 
.title {
    margin-right: 10px;
    color: var(--color-de-fundo--);
}
.paragrafo {
    width: 47px;
    padding-left: 10px;
    border-width: 0 0 0 2px;
    padding-top: 7px;

}



.Reabilitacao { display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #DB6922;
    background-color: white;
padding: 5px;
}

footer{ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
} 


@media screen and (min-width: 1024px){
    .paragrafo{
        width: 1%;
    }
}
.perneta {
    width: 10%;
    border-radius: 10px;
}


section{
    background-color: var(--color-de-fundo--);
    display: flex;
    justify-content: space-around;
    background: #002C66;
    color: white;
    padding:155px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;

}

image{

    border-radius: 100px;
    float: right;

}