foot{
    --color-de-fundo--: #002C66;
    --cor-de-texto--: #DB6922;
}
header { 
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} 
.title {
    margin-right: 10px;
    color: var(--color-de-fundo--);
}
.paragrafo {
    width: 47px;
    padding-left: 10px;
    border: solid var(--color-de-fundo--);
    border-width: 0 0 0 2px;
    padding-top: 7px;

}

.perneta {
    width: 10%;
    border-radius: 12px;
}

.Reabilitacao { display: flex;
    justify-content: center;
    align-items: flex-start;

}

footer{ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
} 


@media screen and (min-width: 1024px){
    .paragrafo{
        width: 1%;
    }
}
.perneta {
    width: 20%;
    border-radius: 10px;
}

body{
    background-color: var(--color-de-fundo--);
}

section{
    background-color: var(--color-de-fundo--);
    color: var(--color-de-fundo--);
    display: flex;
    justify-content: space-around;
}