header { 
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} 
.title {
    margin-right: 10px;
    color: #002C66;
}
.paragrafo {
    width: 47px;
    padding-left: 10px;
    border: solid #002C66;
    border-width: 0 0 0 2px;
    padding-top: 7px;

}

.perneta {
    width: 20%;
    border-radius: 12px;
}

.Reabilitacao { display: flex;

}

footer{ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
} 


@media screen and (min-width: 1024px){
    .paragrafo{
        width: 1%;
    }
}
.perneta {
    width: 20%;
    border-radius: 12px;
}

body